body {
  background-color: aliceblue;
}

.form {
  margin: 20%;
}

.username {
  margin: 20px;
  padding-bottom: 1rem;
}

.main {
  margin-top: 50px;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
}

.modal-container {
  position: absolute;
  width: 60%;
  background: #ffffff;
  left: 25%;
  top: 30%;
  padding: 20px;
}

.list {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 5px;
}
.containerSide {
  float: right;
}
